body{
    margin: 0 ;
}
:root {
    --main_color: #E30813;
    --white_color: #fff;
    --black_color: #000;
    --font_cairo: "Cairo", sans-serif;
}
body{
    font-family: 'Cairo', sans-serif !important;
}


/*=================== Start Header ===================*/
.header {
    padding: 10px 0;
    position: relative
}

#water
{
    background-image: url("../../img/water2.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.header h2
{
    color: #fff;
}

.header .navbar {
    margin-bottom: 70px;
}


.header .imgs .shape1 {
    position: absolute;
    left: 81%;
    top: 32%;
    z-index: 99;
}
.header .imgs .shape2 {
    position: absolute;
    left: 65%;
    top: 68%;
    z-index: 99;
}
.header .imgs .shape3 {
    position: absolute;
    left: 50%;
    top: 36%;
    z-index: 99;
}
.header .imgs .shape4 {
    position: absolute;
    left: 40%;
    top: 72%;
    z-index: 99;
}

.header .imgs .shape5 {
    position: absolute;
    left: 30%;
    top: 27%;
    z-index: 99;
}
.header .shape7 {
    position: absolute;
    left: 66%;
    top: 20%;
    z-index: 99;
}
.header .shape8 {
    position: absolute;
    left: 17%;
    top: 20%;
    z-index: 99;
}
.header .shape9 {
    position: absolute;
    left: 51%;
    top: 64%;
    z-index: 99;
}
/*=================== End Header ===================*/



/*=================== Start years ===================*/

.years .overlay{
    background-image: url("../../img/water2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0;
    padding-bottom: 50px;
}
.years .years_header{
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: 38px;
    color:#000;
    padding: 10px 0;
    line-height: 42px;
    padding-bottom: 0;
    text-align: center;
}
.years .years_header .under_line{
    display: block;
    margin: auto;
    width: 110px;
    position: relative;
    left: -40px;
    margin-top: 10px;
    margin-bottom: 70px;
}
.years .year_item{
    direction: rtl;
    margin: 50px 0;
}
.years .year_item .year_image img{
    display: block;
    width: 80% ;
    margin: auto;
    margin-top: 10px;
}
.years .year_item .year_content{
    text-align: right;
}
.years .year_item .year_content h4{
    font-weight: 700;
    font-size: 39px;
    color: #E85C4B;
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}
.years .year_item .year_content p{
    font-weight: 400;
    font-size: 20px;
    color: #9C9C9C;
    direction: rtl;
    padding: 10px 0;
    font-family: 'Cairo', sans-serif;
}
.years .year_item .year_content .year_statistics{
    direction: rtl;
}
.years .year_item .year_content .year_statistics img{
    display: inline-block;
}
.years .year_item .year_content .year_statistics p{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    color:#000;
    padding-right: 5px;
    font-family: 'Cairo', sans-serif;
}
.years .year_item .year_content a{
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    font-family: 'Cairo', sans-serif;
    color: #fff;
}
.years .year_item .year_content .subjects_btn1{
    width: 175PX;
    height: 56px;
    background: rgba(232, 92, 75,.75);
    border-radius: 10px;
    margin:20px 0;
    float: right;
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    border: unset;
    transition:all .3s ease-in-out;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.years .year_item .year_content .subjects_btn1:hover{
    box-shadow: rgba(232, 92, 75,.75) 0px 0px 29px 5px;
}
.years .year_item .year_content .subjects_btn2{
    width: 175PX;
    height: 56px;
    background: rgba(255, 161, 4,.75);
    border-radius: 10px;
    margin:20px 0;
    float: right;
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    border: unset;
    transition:all .3s ease-in-out;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.years .year_item .year_content .subjects_btn2:hover{
    box-shadow: rgba(255, 161, 4,.75) 0px 0px 29px 5px;
}
.years .year_item .year_content .subjects_btn3{
    width: 175PX;
    height: 56px;
    background: rgba(73, 45, 182,.75);
    border-radius: 10px;
    margin:20px 0;
    float: right;
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    border: unset;
    transition:all .3s ease-in-out;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.years .year_item .year_content .subjects_btn3:hover{
    box-shadow: rgba(73, 45, 182,.75) 0px 0px 29px 5px;
}
.years .year_item .year_content .subjects_btn4{
    width: 175PX;
    height: 56px;
    background: rgba(144, 36, 111,.75);
    border-radius: 10px;
    margin:20px 0;
    float: right;
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    border: unset;
    transition:all .3s ease-in-out;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.years .year_item .year_content .subjects_btn4:hover{
    box-shadow: rgba(144, 36, 111,.75) 0px 0px 29px 5px;
}
/*--------media queries----------*/
@media(max-width:775px){
    .years .year_item .year_image img{
        width: 70%;
        margin-bottom: 30px;
    }
    .years .year_item .year_content{
        text-align: center;
    }
    .years .year_item .year_content .subjects_btn4 , .years .year_item .year_content .subjects_btn3,.years .year_item .year_content .subjects_btn2,.years .year_item .year_content .subjects_btn1{
        float: unset;
        display: block;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 20px;
    }
}
/*=================== End years ===================*/










/*=================== Start Footer ===================*/
footer{
    background-color: #000;
}
footer .overlay{
    height: 100%;
    width: 100%;
    background-image: url("../../img/water2.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
footer .footer_info{
    direction: rtl;
}
footer .footer_info img{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
}
footer .footer_info h3{
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #F8F7F7;
    font-family: 'Cairo', sans-serif;
    margin-bottom: 20px;
}
footer .footer_info .phone p{
    display: inline-block;
    color: rgba(156, 156, 156, 0.89);
    direction:ltr
}
footer .footer_info .email{
    margin-top:15px ;
    margin-bottom:15px ;
}
footer .footer_info .email p{
    display: inline-block;
    color: rgba(179, 179, 179, 0.89);

}
footer .footer_info .social_icons{
    margin-top:30px ;
    margin-bottom:30px ;
}
footer .footer_info .social_icons i{
    /* font-size: 35px; */
    font-size: 55px;
    transition:all .3s ease-in-out
}
footer .footer_info .social_icons a:first-child i:hover{
    color:#0088cc !important;
    transform:scale(1.3)
}
footer .footer_info .social_icons a:last-of-type i:hover{
    color:#0f0 !important;
    transform:scale(1.3)
}
/* footer .footer_info .social_icons a i:last-of-type:hover{
    color:#0f0 !important;
    transform:scale(1.3)
} */
footer .quick_links{
    padding-right: 30px;
}
footer .quick_links h3{
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 42px;
    color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 30px;
    direction: rtl;
}
footer .quick_links a{
    display: block;
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 42px;
    color: #9C9C9C;
    direction: rtl;
    padding: 10px 0;
    transition: all .5s ease-in-out;
}
footer .quick_links a:hover{
    font-size: 20px;
    color:#fff;
    padding-right: 8px;
}


/*--------media queries----------*/
@media(max-width:750px){
    footer{
        text-align:center;
    }
    footer .quick_links{
        padding-right:unset !important
    }
    footer .footer_info img{
        margin:auto;
        width:65% !important;
    }
    footer p{
        padding:10px 20px
    }
}
/*=================== End Footer ===================*/



/*=================== Start Media Query ===================*/
@media(max-width:700px){
    .header .imgs .shape1{
        left: 83%;
        top: 13%;    
    }
    .header .imgs .shape2{
        left: 83%;
        top: 68%;
    }
    .header .imgs .shape3{
        left: 8%;
        top: 17%;
    }
    .header .imgs .shape4{
        left: 17%;
        top: 86%;
    }
    .header .imgs .shape5{
        left: 44%;
        top: 68%;
    }
    .header .imgs .shape7{
        left: 86%;
        top: 37%;
    }
    .header .imgs .shape8{
        left: 41%;
        top: 8%;
    }
    .header .shape9{
        left: 9%;
        top: 71%;
    }
    .navbar .logo img{
        width: 80px;
    }
    .contactimg{
        width: 75% !important;
        margin: auto;
       margin-top:0px !important
    }
}

/*=================== Start Media Query ===================*/